%section
  %h2.futura.mb20 Ranking
  .row.m-t-0
    -@ranking.each.with_index(1) do |beach, i|
      .col-lg-4.col-md-4.col-sm-4
        %span.badge-red #{i}
        =link_to beach.name, beach_path(beach), class: "blue-link pl05"
        .thumbnail.img-responsive.thumb-top
          =link_to image_tag(beach.photos.first.url , alt: beach.name), beach_path(beach)
%section
  %h2.futura.mb20 Whats New
  -@new_arrival.each do |beach|
    .panel.panel-default
      .panel-body
        .row
          .col-lg-4.col-md-4.col-sm-4
            .thumbnail.img-responsive.thumb-top
              =link_to image_tag(beach.photos.first.url , alt: beach.name), beach_path(beach)
          .col-lg-8.col-md-8.col-sm-8
            %h4=link_to beach.name, beach_path(beach), class: "blue-link"
            -# %h4.ranking-top=beach.name
            %p=beach.description
