// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.jumbotron {
  background: image_url("main.jpg") center no-repeat;
  background-size: cover;
  height: 300px;

  h1 {
    color: white;
    font-size: 54px;
    letter-spacing: 12px;
    text-align: center;
    margin: 60px 0px;
    text-shadow: 0px 0px 8px #666;
  }
}

/* SP対応 */
@media (max-width: 767px) {
  .jumbotron {
    height: 200px;

    h1 {
      font-size: 30px;
      margin: 30px 0px;
    }
  }
}

.badge-red {
  display: inline-block;
  min-width: 10px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  color: #ffffff;
  line-height: 1;
  vertical-align: baseline;
  white-space: nowrap;
  text-align: center;
  background-color: #06a8d7;
  border-radius: 10px;
}

.thumb-top {
  // border: none;
  margin: 10px 0px;
}

.blue-link {
  font-size: 18px;
  font-weight: bold;
  color: #06a8d7;
}

h2.futura {
  font-family: "Futura",Arial,sans-serif;
  color: #555555;
}
