- breadcrumb :beaches_index

%h2.futura.mb20 #{@prefecture.present? ? @prefecture.name : '全国'}の海一覧
%hr.sea
-if @beaches.present?
  .ar= paginate @beaches
  -@beaches.each do |beach|
    .panel.panel-default
      .panel-body
        .row
          .col-lg-4.col-md-4.col-sm-4
            .thumbnail.img-responsive.thumb-top
              =link_to image_tag(beach.photos.first.url , alt: beach.name), beach_path(beach)
          .col-lg-8.col-md-8.col-sm-8
            %h4=link_to beach.name, beach_path(beach), class: "blue-link"
            %p=beach.description.truncate(100)
            %p.ar= link_to '>>詳細', beach_path(beach)
  .ar= paginate @beaches
-else
  %p 該当する海は見つかりませんでした。
